# github config
GITHUB_TOKEN=""

# resend for emails
RESEND_API_KEY=""
RESEND_FROM_NAME="Jonathan Irhodia"
RESEND_FROM_EMAIL="newsletter@elcharitas.wtf"

# publications config
ORCID_ID=""

# vercel services
EDGE_CONFIG=""
