# github config
GITHUB_TOKEN=""

# hashnode config
HASHNODE_HOST=""
HASHNODE_PUBLICATION_ID=""
HASHNODE_WEBHOOK_TOKEN=""
HASHNODE_TOKEN=""

# publications config
ORCID_ID=""

# vercel services
EDGE_CONFIG=""
